{%extends 'insta-posts/base.html' %}
{% load static %}


{{block.super}}


{% block content %}
<div class="container">
    <div class="col-md-4" id="details">
        <img src="https://cdn0.iconfinder.com/data/icons/finance-vol-2-4/48/77-512.png" alt="avatar" class="img-circle">
    </div>
    <ul class="list-inline">
        <li class="list-inline-item" id="name">
            <span class="font-weight-bold">{{detail.username}}</span>
        </li>
        {% if detail.username == user.username %}
        <li class="list-inline-item">
            <a href="/logout"><button>Log out</button></a>
        </li>
        {% else %}
        {% if detail in people %}
        <li class="list-inline-item">
            <a href="/unfollow/{{details.id}}"><button>Following</button></a>
        </li>
        {% else %}
        <li class="list-inline-item">
            <a href="/follow/{{details.id}}"><button>Follow</button></a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    <ul class="list-inline">
        <li class="list-inline-item">
            <span class="font-weight-bold">{{images|length}} </span> posts
        </li>
        <li class="list-inline-item">
            <span class="font-weight-bold">{{follow}} </span> followers
        </li>
        <li class="list-inline-item">
              <span class="font-weight-bold">{{following}} </span> following
        </li>
    </ul>
<hr>
{% if images %}
{% for image in images %}
<div class="col-md-4">
<br>
<br>
<img src="{{image.post.url}}" class="img-responsive">
<br>

<div class="well">
    <a class="view-more"></a>
        {% for comment in comments %}
        {% if comment.image_id == image.id %}
            <li class="comments"> {{ comment.user.username }} said:
                <span class="comment">{{ comment.comment }}</span>
            </li>
{% endif %}
{% endfor%}
</div>

</div>
{% endfor%}
 {% else %}
<p>No posts yet</p>

{% endif %}
</div>

{% endblock %}
 {% block scripts %}
 {{block.super}}
    <script>
        $(document).ready(function(){
            $("#view").click(function(){
                $(".well").toggle();  
        
            });
         
        });
    </script>

  {% endblock %}
  <style>
        details{
            margin-top: 30px;
            margin-left: 111px;
        }
        .img-circle{
            border: solid #ccc 2px;
            height: 60px;
        }
        #name{
            font-size: 20px;
            font-weight: bolder
           
        }
        #editbtn{
            margin-left: -20px; 
        }
        button{
            padding: 4px;
        }
        .list-inline{
            margin-top: 20px;
            font-weight: bolder;
        }
        
    </style>