{%extends 'insta-posts/base.html'%}

{% block content %}
{{block.super}}
{% for image in images %}
<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
<div class="well">
<p class='title'><img src="https://cdn0.iconfinder.com/data/icons/finance-vol-2-4/48/77-512.png" alt="avatar" class="img-circle" id="each1">   {{image.user.username}}</p>
<br>
<br>
  <img src="{{image.post.url}}" class="img-responsive">
  <p><strong>{{image.user.username}}</strong> {{image.caption}}</p>
  <p><a href=" {% url 'like' image_id=image.id %}" >
    <i class="fa fa-heart-o" style="font-size:28px; color:black;" aria-hidden="true"></i></a>&nbsp;&nbsp;{{image.count_likes}}   likes</p>
  <p class="text-muted">{{image.posted_on|timesince}}</p>
<hr>
<div class="demcoms">
    <h5 class="display"><strong>Comments</strong> 
    <a class="view-more"></a>
        {% for comment in comments %}
            {% if comment.image_id == image.id %}
                <li class="comments"> {{ comment.user.username }} said:
                    <span class="comment">{{ comment.comment }}</span>
                </li>
            {% else %}
            {% endif %}
        {% endfor %}
    <div class="comment-input-wrapper">
                <form action="{% url 'comment' image_id=image.id %}" method="post">
                    {% csrf_token %}
                        <input class="add-comment" name="comment" id="comment{{image.id}}" type="text" placeholder="Comment on this image....">
                </form>
    </div>
    <div class="hidden-data {{ image.pk }}" style="display: none;">
        <span class="image-pk">{{ image.pk }}</span>
    </div>
    </h5>
</div>
</div>
</div>
{% endfor%}

 <h3> <img src="https://cdn0.iconfinder.com/data/icons/finance-vol-2-4/48/77-512.png" alt="avatar" class="img-circle" id="each">{{user.username}}</h3>
 <hr>
<p class="text-muted"> Follow other users</p>
<div class="list">
{% for detail in details %}
{% if user.username == detail.username%}
 {%else%}
   <ul class="list-inline">
    <li class="list-inline-item">
<a href="/user/{{detail.id}}" class="others"><strong class="list-inline"><img src="https://cdn0.iconfinder.com/data/icons/finance-vol-2-4/48/77-512.png" alt="avatar" class="img-circle" id="each"> {{detail.username}} </strong>
</a>
</li>
 {% if detail in people %}
    <li class="list-inline-item">
 <a href="/unfollow/{{detail.id}}"><button class="btn btn-info btn-xs">Following</button></a>
</li>
 {% else %}
     <li class="list-inline-item">
 <a href="/follow/{{detail.id}}"><button class="btn btn-info btn-xs">Follow</button></a>
</li>
 {% endif %}
</ul>
 {% endif %}
{% endfor %}
</div>
</div>

</div>
<style>
    .well{
        background-color: white;
        padding: 0;
    }
    
    img{
        width: 100%;
    }
    h3{
        font-weight: bolder;
    }
    #each{
        width: 40px;
    }
    .img-circle{
        border: solid #ccc 2px;
    }
    .others{
        margin-left: 50px;
        color: black;
       
    
    }
    .others:hover{
        color: black;
        text-decoration: none
    }
    
    #each1{
        width: 30px;
    }
    .title{
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: -20px;
    }
    
    .comments{
        list-style-type: none;
    }
    .demcoms{
        margin-left: 10px;
    }
    .list{
        overflow: scroll;
        width: 300px;
        height: 255px;
    }
</style>
{% endblock %}
